* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    background-color: #ffffff;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fcfcfc57;
    color: rgb(255, 255, 255);
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #5036af;
}

section:not(#home) {
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home {
    /*background-color:#4a90e2;*/
    background-image: url(https://64.media.tumblr.com/9a74c19a9eab9768eb2f12262fe528e7/8930ac7c0c457f06-61/s1280x1920/4aa619beeb658af72711318af6e348425ce1a5cb.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #d2a5a5;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.0em;
    /* margin-left:  5%; */
    /* margin-right: 5%; */

}
#home h1, p{
    background-color: #00000069;
    margin-left: 0%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
}

.content .text {
    max-width: 600px;
    text-align: left;
}

.content .text h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #070808;
}

.content .text p {
    font-size: 1.1em;
    color: #040404;
}

#services {
    background-color: #d087e8;
}

#about {
    background-color: #d087e8;
}

#contact {
    background-color: #d087e8;
}

.cta-button {
    margin-top: 30px;
    background-color: #dd84e395;
    color: #000000;
    padding: 15px 30px;
    font-size: 18px;
    border: #000000;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgb(red, green, blue);
    transition: background-color 1s ease, transform 1s ease;
}